<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="backend.add_to_cart" instance="Extension\Backend\Observer\AddProductAfter" />
    </event>
</config>